img {
    width: 100px;
    background-color: red;
    padding: 3%;
    margin-left: 20%;
}

.testingText {
    color: red;
    font-size: 2vw;
}

@media only screen and (min-width: 480px) {
    img {
        display: block;
        width: 50%;
        background-color: blue;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    .testingText {
        color: blue;
    }
}

@media (min-width: 800px) {
    img {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        background-color: yellow;
        padding: 20px;
    }
    .testingText {
        color: yellow;
    }
}